body {
    font-family: 'Lenora', sans-serif;
    background-color: #e0f7fa; /* Light blue background */
    color: black; /* Main text color */
}

.navbar {
    background-color: #004d40 !important; /* Darker blue for navbar */
}

.nav-link, .navbar-brand {
    color: #ff5252 !important; /* Red for text in the navbar */
}

h1 {
    color: #004d40; /* Darker blue for headings */
}

header img {
    width: 70%; /* 100% width minus 15% padding on each side */
    display: block;
    margin: 0 auto; /* Center the image */
    padding: 0 15%; /* Padding of 15% on both sides */
}
